root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
insert_final_newline = true

[*.json]
indent_style = space

[*.pug]
indent_style = tab

[*.sass]
indent_style = space

[*.ts]
indent_style = tab
