root = true

[*]
charset = utf-8
end_of_line = lf
indent-size = 2
insert_final_newline = true

[*.json]
indent-style = space

[**/*.pug]
indent-style = tab

[**/*.sass]
indent-style = space

[*.ts]
indent-style = tab
