-
	var Products = [
		{
			category: 'web',
			devices: [
				'PC',
				'Phone',
				'Tablet'
			],
			languages: [
				'TypeScript',
				'SASS'
			],
			mainLanguage: 'pug',
			name: 'the Portfolio',
			overview: 'This site.',
			repository: false
		},
		{
			category: 'application',
			devices: [
				'PC',
			],
			languages: [
				'HTML5',
				'Electron'
			],
			mainLanguage: 'TypeScript',
			name: 'WebVTT-Editor',
			overview: 'The editor to create WebVTT how subtitles at html5 video.',
			repository: {
				type: 'github',
				href: 'https://github.com/Sotalbireo/WebVTT-Editor'
			}
		},
		{
			category: 'application',
			devices: [
				'PC',
			],
			languages: [],
			mainLanguage: 'PHP',
			name: 'Re:箱庭諸島',
			overview: 'game',
			repository: {
				type: 'github',
				href: 'https://github.com/Sotalbireo/hakoniwa'
			},
			thumbnail: ''
		},
	]
