-
	var Products = [
		{
			category: 'web',
			devices: [
				'PC',
				'Smartphone',
				'Tablet'
			],
			languages: [
				'TypeScript',
				'SASS'
			],
			mainLanguage: 'pug',
			name: 'the Portfolio',
			overview: 'This site.',
			repository: false
		},
		{
			category: 'application',
			devices: [
				'PC',
			],
			languages: [],
			mainLanguage: 'TypeScript',
			name: 'WebVTT-Editor',
			overview: 'hogefuga',
			repository: 'github'
		},
	]
