.grid
  margin: 0 auto
  position: relative
  width: 90%

.grid-2cols
  display: flex
  flex-direction: row
  justify-content: space-between

.grid-2cols-col
  flex: auto
  max-width: 48%
  padding: 1ex auto
  position: relative

.grid-2cols-col.mod-img
  padding: 0



@media #{$small}
  .grid
    width: 100%

  .grid-2cols
    flex-direction: column

  .grid-2cols-col
    max-width: 100%
