// Fork from Semantic-UI

.segment
  border: 1px solid hsla(210, 6%, 14%, 0.15)
  box-shadow: 0 2px 4px 0 hsla(210, 6%, 14%, 0.12), 0 2px 10px 0 hsla(210, 6%, 14%, 0.15)
  margin: 1rem 0
  padding: 1ex
  position: relative

  &:last-child
    margin-bottom: 0

.segment-header
  position: relative

.segment-header-label
  border-radius: 0 0.3rem 0.3rem 0
  display: inline-block
  font-weight: 700
  left: calc(-1rem - 1.2em)
  line-height: 1
  margin-right: -1.2em
  min-width: max-content
  padding: 0.6rem 1.2em 0.6em calc(1rem + 1.2em)
  transition: background 0.1s ease
  vertical-align: baseline

  &:after
    background-color: transparent
    border: 0 solid transparent
    border-width: 0 1.2em 1.2em 0
    content: ''
    height: 0
    left: 0
    position: absolute
    top: 100%
    width: 0

  &.mod-red
    background-color: #db2828
    border-color: #b21e1e
    color: #fff
    &:after
      border-color: #b21e1e

.segment-
