extends _layout

block attributes
	include _config.pug
	- var title = 'the Portfolio'

block body
	.container
		.row.justify-content-center
			.col-md-10
				.jumbotron
					h1.display-4 404 Not found...
					p.lead This page is not found, check below.
					ul
						li wrong url?
					hr.my-4
					p.lead このページはサーバー上に見つかりません。以下を確認してください。
					ul
						li URLが間違っているかも？
