extends _layout

block append attributes
	- var title = 'the Portfolio'

block body
	.grid
		.segment
			.segment-body
				h1 404 Not found...
				p This page is not found, check below.
				ul
					li wrong url?
				hr
				p このページはサーバー上に見つかりません。以下を確認してください。
				ul
					li URLが間違っているかも？
