- var root = 'https://sotalbireo.github.io/'
- var author = 'sota_n'
-
	var SNSs = [
		{
			name   : 'twitter',
			domain : 'twitter.com',
			uri    : 'https://twitter.com/' + author
		},
		{
			name   : 'mastodon',
			domain : 'social.mikutter.hachune.net',
			uri    : 'https://social.mikutter.hachune.net/@' + author
		}
	]
