doctype html
block attributes
	include _config.pug
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title= title
		link(rel='stylesheet', href='/assets/stylesheet/index.css')
		block meta
	body(style='margin-top:1rem')
		block body
		footer.grid(style='margin-top:5rem')
			block footer
				p.u-mb-0 Any of the trademarks, service marks, collective marks, design rights or similar rights that are mentioned, used or cited are the property of their respective owners.
				.grid-2cols.m-vertical-bottom
					.grid-2cols-col
						address.u-lh-1
							small &mdash;&mdash;
								br
								| Kyohei SASAKI (Sotalbireo)
								br
								a(href='https://social.mikutter.hachune.net/@sota_n', target='_blank') @sota_n@social.mikutter.hachune.net
					.grid-2cols-col.m-align-end.u-text-right
						p.u-mb-0.u-lh-1: small ©2018 Kyohei SASAKI, Sixth-Neighbours.
