extends _layout

block append attributes
	- var title = 'the Portfolio'

block body
	.grid-2cols
		.grid-2cols-col.mod-img
			.card.bg-dark.border-light
				img.card-img(src='http://asuka.absolute-ze.ro/img/cinderella_11.png')
		.grid-2cols-col
			h1 こんにちは、世界
