extends _layout

block append attributes
	- var title = 'the Portfolio'
	include Variables/_Products
block body
	.grid.grid-2cols
		.grid-2cols-col
			img.grid-2cols-col-img(src='http://asuka.absolute-ze.ro/img/cinderella_11.png')
		.grid-2cols-col
			h1 こんにちは、世界
			p うまいこと書きたい
			p ぬるぽ
	.grid
		each product in Products
			.segment
				.segment-header
					span.segment-header-ribbon.mod-primary= product.mainLanguage
					h3.segment-header-content= product.name
				.segment-body
					p= product.overview
