extends _layout

block attributes
	include _config.pug
	- var title = 'the Portfolio'

block body
	.container
		.row.justify-content-center
			.col-md-5
				.jumbotron
			.col-md-5
				h1 こんにちは、世界
				p ここは#{author}のポートフォリオサイトになる予定です。
				p お問い合わせ先：
					a(href=SNSs[0].uri) @sota_n@twitter.com
